<div class="ember-view">
  <a href="https://github.com/ahmetemrekilinc/ember-currencies" target="_blank" rel="noopener noreferrer">Github</a>
  <a href="https://www.npmjs.com/package/ember-currencies-and-format-money" target="_blank" rel="noopener noreferrer">Npmjs</a>

  <GenericDemoPage @name="Example Usage of Format Money" @files="showcase.hbs,showcase.js">
    <Showcase/>
  </GenericDemoPage>

  {{outlet}}
</div>